

.description{
    margin: 25px 60px 25px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description p {
    margin-top: 10px;
    font-size: 22px;
}

.attention {
    color: red;
    font-weight: 700;
}