@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+HK:wght@300;700&family=Open+Sans:wght@600&family=Roboto+Condensed&display=swap');

.sort{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 5px 53px 5px rgba(168,168,168,1);
    -moz-box-shadow: 1px 5px 53px 5px rgba(168,168,168,1);
    box-shadow: 1px 5px 53px 5px rgba(168,168,168,1);
    width: 700px;
    height: 470px;
    border-radius: 30px;
}

.sort__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 40px 40px 40px 40px;
}

#sort__chart{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.sort__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 520px;
}

.buttons__bubble-sort , .buttons__shuffle , .buttons__bin-tree-sort{
    margin-top: 50px;
    height: 30px;
    transition: .3s;
    background-color: rgb(63, 58, 158);
    border-radius: 25px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 20px;
    font-family:"Noto Sans HK";
    font-weight: 600;
    cursor: pointer;
}

.buttons__bubble-sort:hover , .buttons__shuffle:hover , .buttons__bin-tree-sort:hover{
    -webkit-box-shadow: 0px 3px 10px 1px rgb(124, 124, 124);
    -moz-box-shadow: 0px 3px 10px 1px rgb(124, 124, 124);
    box-shadow: 0px 3px 10px 1px rgb(124, 124, 124);
}