

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.image{
    width: 80px;
    height: 80px;
}