
.unit__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 22px;
}

.unit__circle{
    border-radius: 50%;
    height: 10px;
    width:10px;
    background: rgb(249,133,0);
    background: linear-gradient(180deg, rgba(249,133,0,1) 0%, rgba(255,205,65,1) 52%, rgba(255,232,96,1) 100%);
}
.unit__bar{
    transition: .2s;
    margin-top:5px;
    border-radius: 20px;
    width:30px;
    background: rgb(249,133,0);
    background: linear-gradient(180deg, rgba(249,133,0,1) 0%, rgba(255,205,65,1) 52%, rgba(255,232,96,1) 100%);
    
}

.unit__container:hover .unit__bar{
    margin-top: 25px;
}

.unit__container:hover .unit__bar {
    -webkit-box-shadow: 0px 1px 10px 1px rgba(249,133,0,1);
    -moz-box-shadow: 0px 1px 10px 1px rgba(249,133,0,1);
    box-shadow: 0px 1px 10px 1px rgba(249,133,0,1);
}

.unit__value{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    font-family:"Noto Sans HK";
    font-weight: 700;
    color: rgb(107, 107, 107);
}
